<div class="main-scroll-wrap" [class.no-header]="isDashboard || isMaintenancePage" [class.user-shell]="!isDashboard && !isMaintenancePage" id="main-content" (scroll)="onScrolling($event)">
  <!-- Header & Footer chỉ bị ẩn khi ở trang admin dashboard (isDashboard=true) hoặc trang bảo trì (isMaintenancePage=true) -->
  <app-header *ngIf="!isDashboard && !isMaintenancePage"></app-header>
  <router-outlet
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)">
  </router-outlet>
  <app-footer *ngIf="!isDashboard && !isMaintenancePage"></app-footer>
</div>

