@if (!sendRequest && (choosenLanguageSub$ | async); as chooseLang) {

<div class="config_edit-top">
  <div>
    <mat-form-field class="config_edit-field">
      <mat-label>Tạo cấu hình mới (URL)</mat-label>
      <input matInput [(ngModel)]="newConfig" />
    </mat-form-field>
    <button class="translations-button" mat-flat-button color="accent" (click)="addConfig()">+</button>
  </div>
  <mat-form-field class="config-select">
    <mat-label>
      Chọn cấu hình có sẵn
    </mat-label>
    <mat-select [(ngModel)]="chosenConfig" (ngModelChange)="choseConfig()">
      @for (option of configs$ | async; track option) {
      <mat-option [value]="option.titleUrl">
        {{ option.titleUrl }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="lang-select">
    <mat-label>
      Ngôn ngữ cấu hình
    </mat-label>
    <mat-select [ngModel]="chooseLang" (ngModelChange)="setLang($event)">
      @for (option of languageOptions; track option) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
@if (configEditForm.get('titleUrl').value) {
<form class="config_edit-form" [formGroup]="configEditForm">
  <h2>{{ configEditForm.get('titleUrl').value }}</h2>
  <div [formGroupName]="chooseLang">
    <mat-form-field class="config_edit-field">
      <mat-label>Phí vận chuyển tiêu chuẩn</mat-label>
      <input matInput type="number" formControlName="basicShippingCost" />
    </mat-form-field>
    <mat-form-field class="config_edit-field">
      <mat-label>Hạn mức miễn phí vận chuyển tiêu chuẩn</mat-label>
      <input matInput type="number" formControlName="basicShippingLimit" />
    </mat-form-field>
    <mat-form-field class="config_edit-field">
      <mat-label>Phí vận chuyển nâng cao / ngoại thành</mat-label>
      <input matInput type="number" formControlName="extendedShippingCost" />
    </mat-form-field>
    <mat-form-field class="config_edit-field">
      <mat-label>Hạn mức miễn phí vận chuyển nâng cao</mat-label>
      <input matInput type="number" formControlName="extendedShippingLimit" />
    </mat-form-field>
  </div>
  <mat-radio-group aria-label="Active" formControlName="active">
    <mat-radio-button name="active" [value]="true" id="active">
      Đang kích hoạt
    </mat-radio-button>
    <mat-radio-button name="inactive" [value]="false" id="inactive">
      Không kích hoạt
    </mat-radio-button>
  </mat-radio-group>
</form>
}
<div class="config_edit-cta">
  <button mat-flat-button color="primary" [disabled]="configEditForm.invalid" (click)="saveConfig()">Lưu cấu hình</button>
  <button mat-flat-button color="primary" [disabled]="configEditForm.invalid" (click)="removeConfig()">Xóa cấu hình</button>
</div>

} @if (sendRequest) {
<div class="config_edit-after-send">
  <span>Đã gửi yêu cầu thành công!</span>
  <button class="product_edit-btn-action" mat-raised-button color="primary" (click)="sendRequest = !sendRequest">
    Tiếp tục chỉnh sửa
  </button>
</div>
}
